*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    background-color: rgb(233, 228, 228);
}

    /* top logo and login  */
.top {
    display: flex;
    justify-content: space-between;
}
.top ul{
    display: flex;
}
.top ul li{
    list-style: none;
    margin: 3px;
    padding: 4px;
    font-size: 18px ;
    font-family: serif;
}

.top ul li a, a{
    
    text-decoration: none;
    color: rgb(25, 221, 57);
}
.account{
    border: 1px solid;
    align-items: center;
    display: flex;
   
}
.account:hover{
    background-color:brown ;
    color: white;
}
.top ul li a:hover{
    color: white;
}
.log{
    display: flex;
    align-items: center;
    color: black;
    text-decoration: underline;
}

.logo{
    padding: 5px;
    margin: 5px;
    font-size: 32px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

   /* for top navigation */
.nav ul{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.nav ul li{
    list-style: none;
    margin: 5px;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(88, 83, 85);
    font-size: 18px;
}
.nav ul li a:hover{
    border: 1px solid black;
    border-radius: 40px;
    padding: 5px;   
    background-color: rgb(199, 60, 60);
    color: rgb(255, 251, 251);
    text-decoration: underline;
}
/*  banner */
.banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    justify-content: center;
    align-items: center;
    left: 140px;
}
.web{
    position: absolute;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 26px;
    bottom: 140px;
    left: 30px;
   }
.featured{
    position: absolute;
    bottom: 210px;
    color: white;
    font-size:18px;
    font-family: sans-serif;
    left:30px;
}
.disc{
    position: absolute;
    color: white;
    bottom: 60px;
    left:30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.banner img{

    border-radius: 10px;
    height: 600px;
    width: 1000px;
    
}
/*  recent blog */
.recent{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.recent img{
    height: 200px;
    width: 400px;
    border-radius: 10px;
    margin: 5px;
}
.data{
    border: 1px solid  black ;
    margin: 2px; 
    width: 420px; 
    margin-left: 10px;
}
.item{
    margin-left: 10px;
}
/* gallery */
.gallery{
    text-align: center;
    /* display: flex  ; */
   flex-direction: column;

   flex-grow: 1;    
   
}
figcaption{
    font-family:monospace;
    font-size: 18px;
}
.sign{
    border: 1px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    margin-left: 400px;
    margin-right: 400px;
    padding: 30px;
}


/* contact us */
.contact_us {
    display: grid;  
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
    padding: 50px;
    border: 1px solid;
    background-color: rgb(111, 177, 111);
}
.try{
    display: flex;
    justify-content: center;
}
.text{
    font-size: larger;
    margin: 2px;
    font-family: cursive;
}
/* making detail word similar to other  */
#tell{
    position: absolute;
    left: 510px;
}
input{
    height:30px;
    width: 250px;
    margin: 5px;
    font-family: serif;
    font-size: large; 
    border: 1px solid grey;
    border-radius: 5px;
   
}

textarea{
    font-size: large;
    margin: 5px;
    border-radius: 5px;
}

.detail{
    margin-left: 150px;
}

/*  for email */
.email{
    color: black;
    text-decoration:underline double;
    font-size: 18px;
    font-family:  monospace;
}
.submit{
    padding: 5px;
    font-family: serif;
    font-size: 18px;
    border: 1px solid black;
   
    border-radius: 10px ;
}
.submit:hover{
    color: grey;
}
.develop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.con{
    background-color:darkseagreen;

}

/*  css for datalists */
.deta{
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    display: flex;
}
.deta img{
    height: 100px;
    width: 100px;
}
.italic{
    font-style: italic;
    font-size: 18px;
}
/*  blog detail */
.order{
    margin-left: 25px;
}
.details{
      border: 1px solid;
      margin: 10px;  
      display: flex;

}
