<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
  <!--  top section -->
     
  <div class="top">
    <a href="../index.html" class="logo">Blog</a>
    <ul>
        <li class="log"> <a href="./login.html">Sign In</a></li>
        <li class="account"> <a href="./signup.html">Create a Account</a></li>
       </ul>
   </div>
   <!--  navigation bar -->
   <img onclick='document.getElementById("sidebar").classList.add("active")' src="../images/bars-solid.svg" class="menu" alt="men-bar" width="25px"  height="25px">
        <div class="sidebar" id="sidebar">
            <img onclick='document.getElementById("sidebar").classList.remove("active")' src="../images/x-solid.svg" class="cross" alt="cross" width="15px" height="15px" >
            
            <ul class="navItems" id="navItems">
               <li><a href="../index.html">Home</a></li>
               <li><a href="./blog-list.html">Blog List</a></li>
               <li><a href="./blog-detal.html">Blog Detail</a></li>
               <li><a href="./gallery.html">Gallery</a></li>
               <li><a href="./contact.html">Contact Us</a></li>
           </ul>
       </div>

<div class="data-details">
    <div  class="details">  
        <div>
           <img src="../images/anime.jpg" alt=""> 
        </div>
        <div>

            <h2>what is programming language</h2>
            <h3>programming language is a language used by coders.</h3>
            <p>Programming languages play a crucial role in the software development process, enabling developers to express their ideas in a format that computers can understand and execute. </br></p>
            <ol class="order">
                <li>test</li>
                <li>test</li>
                <li>test</li>
            </ol>
        </div>
    </div> 
    <div class="details">
        <div>
            <img src="../images/writer.jpg" alt="">
        </div>
        <div>
            <h2>what is programming language</h2>
            <h3>programming language is a language used by coders.</h3>
            <p>Programming languages play a crucial role in the software development process, enabling developers to express their ideas in a format that computers can understand and execute. </br></p>
        </div>
    </div> 
   
</div>

</body>
</html>