<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
     <!--  top section -->
     <div class="top">
        <a href="../index.html" class="logo">Blog</a>
        <ul>
            <li class="sign"> <a href="#">Sign In</a></li>
            <li class="account"> <a href="#">Create a Account</a></li>
        </ul>
    </div>
    <!--  navigation bar -->
    <div class="nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Blog List</a></li>
            <li><a href="#">Blog Detail</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </div>
    <h2 class="gallery">Contact Us</h2>
    <div>
        <form >
            <label for="name">Name: </label><br>
            <input type="text" id="name" placeholder="Name"><br>
            <label for="email">Email: </label><br>
            <input type="email" id="email" placeholder="example@domain.com"><br>
            <label for="tell">How can we help you?</label> <br>
            <textarea name="tell" id="tell" cols="30" rows="10"></textarea>
        </form>
        <a href="mailto:agentavery@sample.com"?subject="subject text">sampl@gmail.com</a>
    </div>
</body>
</html>