<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
     <!--  top section -->
     <div class="top">
        <a href="../index.html" class="logo">Blog</a>
        <ul>
            <li class="log"> <a href="./login.html">Sign In</a></li>
            <li class="account"> <a href="./signup.html">Create a Account</a></li>
        </ul>
    </div>
    <!--  navigation bar -->
    <img onclick='document.getElementById("sidebar").classList.add("active")' src="../images/bars-solid.svg" class="menu" alt="men-bar" width="25px"  height="25px">
    <div class="sidebar" id="sidebar">
        <img onclick='document.getElementById("sidebar").classList.remove("active")' src="../images/x-solid.svg" class="cross" alt="cross" width="15px" height="15px" >
        
        <ul class="navItems" id="navItems">
            <li><a href="../index.html">Home</a></li>
            <li><a href="./blog-list.html">Blog List</a></li>
            <li><a href="./blog-detal.html">Blog Detail</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </div>
    <!-- images -->
    <h1 class="gallery">Blog Gallery</h1>
    <div class="gallery">
       <img src="../images/feature.jpg" alt="image">
       <figcaption>Different Programming laguages</figcaption>
       <br>
       <img src="../images/writer.jpg" alt="image">
       <figcaption>Writer</figcaption>
       <br>
       <img src="../images/graphic.jpg" alt="image">
       <figcaption>Graphic design</figcaption>
       <br>
       <img src="../images/italy.jpg" alt="image">
       <figcaption>Place in Italy</figcaption>
       <br>
       <img src="../images/Programming_0.png" alt="image">
       <figcaption>Software Developer</figcaption>
       <br>
       <img src="../images/software.jpg" alt="image">
       <figcaption>Writing Mail</figcaption>
       <br>
       <img src="../images/stock.jpg" alt="image">
       <figcaption>Stock market</figcaption>
       <br>
       <img src="../images/feature1.jpg" alt="image">
       <figcaption>Coder</figcaption>
       <br>
       <img src="../images" alt="image">
       <img src="../images" alt="image">
    </div>
    
</body>
</html>