<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
     <!--  top section -->
     <div class="top">
        <a href="../index.html" class="logo">Blog</a>
        <ul>
            <li class="sign"> <a href="#">Sign In</a></li>
            <li class="account"> <a href="#">Create a Account</a></li>
        </ul>
    </div>
    <!--  navigation bar -->
    <div class="nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="#">Blog List</a></li>
            <li><a href="#">Blog Detail</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </div>
    <!-- images -->
    <h1 class="gallery">Blog Gallery</h1>
    <div>
       <img src="../images/feature.jpg" alt="">
       <img src="../images/writer.jpg" alt="">
       <img src="../images/graphic.jpg" alt="">
       <img src="../images/italy.jpg" alt="">
       <img src="../images/Programming_0.png" alt="">
       <img src="../images/software.jpg" alt="">
       <img src="../images/stock.jpg" alt="">
       <img src="../images/feature1.jpg" alt="">
       <img src="../images" alt="">
       <img src="../images" alt="">
    </div>
    
</body>
</html>