<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body> 
     <!--  top section -->
     <div class="top">
        <a href="../index.html" class="logo">Blog</a>
        <ul>
            <li class="sign"> <a href="./login.html">Sign In</a></li>
            <li class="account"> <a href="./signup.html">Create a Account</a></li>
        </ul>
    </div>
    <!--  navigation bar -->
    <div class="nav">
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="./blog-list.html">Blog List</a></li>
            <li><a href="./blog-detal.html">Blog Detail</a></li>
            <li><a href="./gallery.html">Gallery</a></li>
            <li><a href="./contact.html">Contact Us</a></li>
        </ul>
    </div>
    <h2 class="gallery">Login </h2> <br>
    <div class="sign">
        <form >
            <label for="email">Email:</label><br>
            <input type="email" required>  <br>
            <label for="password">Password:</label><br>
            <input type="password" required><br>
            <button type="submit">Login</button>
        </form>
    </div>
    
</body>
</html>